.popular-categories {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px; /* Adjusted padding */
  width: 300px; /* Adjust the width as per your design */
  margin: 20px auto; /* Center the card horizontally */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

}

.title {
  font-size: 20px;
  font-weight: bold;
}

.view-all {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.category-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.category-icon svg {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  color: #7fdac6; /* Change the color to your desired color */
}