/* ProductScreen.css */

.header-style {
  background-color: #1F456E; /* Blue background */
  color: white;
  border: 2px solid #1F456E; /* Blue border */
  padding: 10px 20px;
  width: 100%;
  margin: 0; /* Remove default margin */
}

.table-container {
  margin-top: 20px; /* Add margin only at the top */
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Adjusted alignment to left */
  margin-top: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #1F456E; /* Blue border */
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  margin-left: 10px;
  border: none;
  outline: none;
}